*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: horizon;
    src: url(../fonts/horizon.otf);

    font-family: horizonout;
    src: url(../fonts/horizon_outlined.otf);

    font-family: antoniobold;
    src: url(../fonts/Antonio-Bold.ttf);

    font-family: cool;
    src: url(../fonts/coolvetica\ rg.ttf);

    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}
.background{
    width: 100%;
    height: 100%;
    background-image: url(../images/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
}
.nav a{
    text-decoration: none;
    font-size: 55px;
    font-family: bebas;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: left;
    display: inline-block;
    background-color: rgb(3, 49, 19);
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}

a.active{
    background-color: white;
    color:black;
}
.nav a:hover{
    background-color: white;
    color:black;
    width: 100%;
}
.a{
    width: 100%;
}
.b{
    width: 85%;
}
.c{
    width: 75%;
}
.d{
    width: 75%;
}
.e{
    width: 85%;
}
.f{
  width: 100%;
}
.content{
    position: absolute;
    width: 1000px;
    min-height: 750px;
    height: auto;
    /*background-color: red;*/
    right: 5%;
    top: 10%;


}
.home{
    position:absolute;
    right: 40%;
    bottom: 120px;
    color:white;
    font-family:bebas;
    text-transform: uppercase;
}
.home h1{
    font-size: 90px;
    padding-right: 5px;
    border-bottom: 1px solid white;

}
.home h2{
    font-size: 220px;
    padding-right: 5px;
    border-bottom: 1px solid white;

}

.home h3{
    font-size: 25px;
    padding-right: 5px;
    opacity: 0.8;
}

.aboutus{
    position: absolute;
    right: 0;
    top: 20px;
    color:white;
    padding: 0 60px;
    display: none;

}

.aboutus h1{
    font-family: bebas;
    font-weight: 800;
    font-size: 35px;
    font-style: oblique;
    text-decoration:underline;
    text-emphasis-color: rgb(85, 1, 85);
    text-transform: uppercase;
    letter-spacing: 0.2cm;
    text-align: left;

}
.aboutus p{
  font-size: 20px;
  line-height: 28px;
  font-family:Arial;
  margin-bottom: 15px;

}

.aboutus pre{
    font-size: 25px;
    line-height: 28px;
    font-family:Arial;
    margin-bottom: 15px;
  
  }
  .aboutus h3{
    font-size: 25px;
    line-height: 28px;
    font-family:Arial;
    margin-bottom: 15px;
    color:rgb(224, 200, 147);
  
  }
  .aboutus h5{
    font-size: 25px;
    line-height: 28px;
    font-family:Arial;
    margin-bottom: 15px;
    color:rgb(244, 244, 245);
  
  }



/*.type2{
  position: absolute;
  width: 50%;
  top: 165%;
  left: 50%;
  transform: translate(-50%,-50%);
}*/

.photography{
  position: absolute;
  right: 75px;
  top: 500px;
  color:white;
  padding-top: -1800px;

}
.photography .street{
  width: 15%;
  margin: 5%;
  float: left;

}
.street img{
  width: 150%;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);

}
.street img:hover{
  transform: scale(2.2);
  -webkit-transform: scale(2.2);
}
.art{
    position: absolute;
    right: 75px;
    top: 1150px;
    color:white;
    padding-top: -1800px;
  
  }
  .art .works{
    width: 15%;
    margin: 5%;
    float: left;
  
  }
  .works img{
    width: 150%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
  
  }
  .works img:hover{
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
  }
  
  .riding{
    position: absolute;
    right: 75px;
    top: 1650px;
    color:white;
    padding-top: -1800px;
  
  }
  .riding .bike{
    width: 15%;
    margin: 5%;
    float: left;
  
  }
  .bike img{
    width: 150%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);
  
  }
  .bike img:hover{
    transform: scale(2.2);
    -webkit-transform: scale(2.2);
  }
  .gallery{
    position: absolute;
    right: 0;
    top: 10px;
    color:white;
    padding: 0 60px;
    display: none;
    
}
.gallery .image{
    width: 18%;
    margin: 1%;
    float: left;

}

.image img{
    width: 100%;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    transform: scale(1);
    -webkit-transform: scale(1);

}
.image img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
*{margin:0; padding:0;}
body{
  background-color: #eee;
}
.contact{
  display: flex;
  justify-content: center;
  margin: 25% auto;
  padding-left: 150px;
  padding-bottom: 20cm;
  display: none;
  font-family: bebas;
  color:#eee;
  text-align: center;
}
.contact ul li{
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #eee;
  margin: auto 50px;
 
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  color: #333;
  cursor:pointer;
  transition: all 0.3s ease-out;
  border-radius: 25px;
  
}

.contact ul li:nth-child(1):hover {
  border-radius: 50%;
  background-color: rgb(6, 173, 104);
}

.education{
  position: absolute;
  right: 0;
  top: 20px;
  color:white;
  padding: 0 60px;
  display: none;

}
.education h1{
  font-family: bebas;
  font-weight: 800;
  font-size: 35px;
  font-style: oblique;
  text-decoration:underline;
  text-emphasis-color: rgb(85, 1, 85);
  text-transform: uppercase;
  letter-spacing: 0.2cm;
  text-align: left;

}
.education p{
font-size: 20px;
line-height: 28px;
font-family:Arial;
margin-bottom: 15px;

}

.ed{
  position: absolute;
  right: 75px;
  top: 400px;
  color:white;
  padding-top: -1800px;

}
.ed .achievements{
  width: 15%;
  margin: 5%;
  float: left;

}
.achievements img{
  width: 150%;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transform: scale(1);
  -webkit-transform: scale(1);

}
.achievements img:hover{
  transform: scale(2.2);
  -webkit-transform: scale(2.2);
}

.journal{
  padding: 30px;
  display:none;
  
}